.header {
    background-color: var(--container-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.nav {
    background-color: var(--container-color);
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}



.nav_log {
    display: flex;
    row-gap: 1px;
}

.nav_logo_name {
    margin-top: 10px;
}

.header_img {
    background: url("../../assests/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    justify-content: center;
}


.nav_list {
    display: flex;
    column-gap: 8rem;
}

.nav_icon,
.nav_close,
.nav_toggle {
    display: none;
}

.nav_link {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.nav_link:hover {
    color: var(--title-color-dark);
}



/*====== Breakpoints =====*
/*====== Breakpoints =====*/
/* for large devives */
@media screen and (max-width: 992px) {
    .nav_logo_name {
        font-size: 15px;
    }
}

/* for medium devives */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        background-color: var(--container-color);
    }

    .nav_menu {
        transition: .3s;
    }

    /*==== show menu =====*/
    /* .show_menu {
        bottom: 5;
    }*/

    /*.nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }*/

    .nav_icon {
        display: none;
    }
}

/* for small devives */
@media screen and (max-width: 576px) {
    .nav_logo_name {
        font-size: 10px;
    }

    .nav_icon {
        display: none;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* for smaller devives */
@media screen and (max-width: 350px) {
    .nav_icon {
        display: none;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}